<table class="table">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
      <th *ngIf="isSettings"> Operations </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }">
      <td>{{product.idProduct}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.productPrice}}</td>
      <td>{{product.productStock}}</td>
      <td>{{product.categoryName}}</td>
      <td *ngIf="isSettings">
        <i [routerLink]="['/settings-product', product.idProduct]" class="glyphicon glyphicon-edit btn btn-primary btn-sm"></i>
        <i class="glyphicon glyphicon-trash btn btn-danger btn-sm" (click)="deleteProduct(product.idProduct)"></i>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
