<table class="table table-hover table-responsive table-striped">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
      <th *ngIf="isSettings">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.idUser}}</td>
      <td>{{user.nameUser}}</td>
      <td>{{user.namePerson}}</td>
      <td>{{user.userType.name }}</td>
      <td *ngIf="isSettings">
        <i [routerLink]="['/settings-user', user.idUser]" class="glyphicon glyphicon-edit btn btn-primary btn-sm"></i>
        <i class="glyphicon glyphicon-trash btn btn-danger btn-sm" (click)="deleteUser(user.idUser)"></i>
      </td>
    </tr>
  </tbody>
</table>
