<div class="row">
  <div class="col-md-12">
    <form [formGroup]="person" (ngSubmit)="saveData()">
      <div class="form-group">
        <label>ID</label>
        <input type="text" class="form-control" readonly formControlName="IdPerson" />
      </div>

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="Name" />
      </div>

      <div class="form-group">
        <label>Last Name 1</label>
        <input type="text" class="form-control" formControlName="apPaterno" />
      </div>

      <div class="form-group">
        <label>Last Name 2</label>
        <input type="text" class="form-control" formControlName="apMaterno" />
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="number" class="form-control" formControlName="PhoneNumber" />
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="Email" />
      </div>
      <div>
        <button class="btn btn-default" [routerLink]="['/settings-person']">Cancel</button>
        <input type="submit" class="btn btn-success" value="Save" [disabled]="!person.valid" />
      </div>
    </form>
  </div>
</div>

<div style="margin:1em" *ngIf="!person.valid">
  <div class="alert  alert-danger">The form is not valid</div>
</div>

