<table class="table table-hover table-responsive table-striped mt-4">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
      <th *ngIf="isSettings">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userType of userTypes">
      <td>{{userType.idUserType}}</td>
      <td>{{userType.name}}</td>
      <td>{{userType.description}}</td>
      <td *ngIf="isSettings">
        <i [routerLink]="['/settings-usertype', userType.idUserType]" class="glyphicon glyphicon-edit btn btn-primary btn-sm"></i>
        <i class="glyphicon glyphicon-trash btn btn-danger btn-sm" (click)="deleteUserType(userType.idUserType)"></i>
      </td>
    </tr>
  </tbody>
</table>
